BODY {
  margin: 1em;
}

.alert {
  display: block;
}

.alert-pre {
  white-space: pre-wrap;
}

.alert-reduced-margin {
  margin-bottom: 2px;
}

.channel-container {
  margin-top: 1em;
}

    .channel-msg {
      white-space: pre;
    }

    .channel-msg-4 {
      opacity: 0.2;
    }

    .channel-msg-3 {
      opacity: 0.4;
    }

    .channel-msg-2 {
      opacity: 0.6;
    }

    .channel-msg-1 {
      opacity: 1.0;
    }
