BODY {
  margin: 1em;
}

.alert {
  display: block;
}

.alert-pre {
  white-space: pre-wrap;
}

.alert-reduced-margin {
  margin-bottom: 2px;
}

.channel-container {
  margin-top: 1em;
}

    .channel-msg {
      white-space: pre;
      opacity: 0.2;
    }

    .channel-msg-last {
      opacity: 1.0;
    }

.debug {
  color: #ccc;
}
