HTML, BODY {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.main-content {
  padding: 10px;
}

HTML.maximized {
  overflow: hidden;
}

.connected .connecting {
  display: none;
}

.hidden {
  display: none;
}

.connected .connected {
  display: inline-block;
}

/**
 * Terminal
 */

.window {
  padding-top: 15px;
  border: #fafafa solid 1px;
  background: #272829;
  position: absolute;
  top: 20px;
  left: 30px;
  z-index: 1000;
  font-family: monospace;
  box-shadow: rgba(0, 0, 0, 0.8) 2px 2px 20px;
}

/* used by blinking cursor */
.reverse-video {
  color: #000;
  background: #f0f0f0;
}

.maximized .window {
  border: none;
  box-shadow: none;
}

.bar {
  cursor: move;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 13px;
  padding: 1px 0;
  color: #fafafa;
}

.title {
  position: absolute;
  right: 5px;
  top: 2px;
  cursor: default;
}

.tab {
  margin-left: 8px;
  margin-top: -2px;
  float: left;
  cursor: pointer;
}

.tab:hover {
  color: orange;
}

.grip {
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 22px;
  height: 22px;
  cursor: se-resize;
  z-index: -1;
  background: transparent;
}

.terminal {
  border: #000 solid 5px;
  font-family: monospace;
  color: #f0f0f0;
  background: #000;
}

.page {
  min-height: 100%;
  position: relative;
}
.main-content {
  /* 9em + 2 * .5em = 10em */
  padding-bottom: 10em;
}
.footer {
  /* 9em + 2 * .5em = 10em */
  height: 9em;
  padding: .5em;
}

.footer {
  width: 100%;
  border-top: 1px solid #666;
  color: #666;
  position: absolute;
  bottom: 0px;
}
